
body {
 margin: 0; 
 padding: 0;
 background: url(pic.png);
 background-size: cover;
background-position: center;
font-family: sans-serif;
}



.loginbox{
width: 320px;
height: 420px;
background:black;
color:white;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  }

.loginbox p{
  margin: 0;
  padding: 0;
font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],[type="password"]
{
  border: none;
border-bottom: 1px solid white;
background: transparent;
outline: none;
height: 40px;
color:whitesmoke ;
font-size: 16px;

}

.loginbox input[type="submit"]
{
  border: none;
background: orange;
outline: none;
height: 40px;
color:whitesmoke ;
font-size: 18px;
border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
cursor: pointer;
background: rgb(189, 155, 75);
color:black ;
}



/*.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  gap: 10px;
  background-color: #f2f229;
  padding-top: 60px;
}

.grid-container > div {
  background-color: rgba(247, 149, 11, 0.8);
  text-align: center;
  padding: 60px 0;
  font-size: 20px;
}*/





